# Implementing Recommender Systems - Lab

## Introduction

In this lab, you'll practice creating a recommender system model using `surprise`. You'll also get the chance to create a more complete recommender system pipeline to obtain the top recommendations for a specific user.

## Objectives

In this lab you will: 

- Use surprise's built-in reader class to process data to work with recommender algorithms 
- Obtain a prediction for a specific user for a particular item 
- Introduce a new user with rating to a rating matrix and make recommendations for them 
- Create a function that will return the top n recommendations for a user

For this lab, we will be using the famous 1M movie dataset. It contains a collection of user ratings for many different movies. In the last lesson, you were exposed to working with `surprise` datasets. In this lab, you will also go through the process of reading in a dataset into the `surprise` dataset format. To begin with, load the dataset into a Pandas DataFrame. Determine which columns are necessary for your recommendation system and drop any extraneous ones.

In [60]:
import pandas as pd
df = pd.read_csv('./ml-latest-small/ratings.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [61]:
# Drop unnecessary columns
new_df = df.drop(columns='timestamp')

It's now time to transform the dataset into something compatible with `surprise`. In order to do this, you're going to need `Reader` and `Dataset` classes. There's a method in `Dataset` specifically for loading dataframes.

In [62]:
from surprise import Reader, Dataset
# read in values as Surprise dataset 
reader = Reader()
data = Dataset.load_from_df(new_df, reader)

Let's look at how many users and items we have in our dataset. If using neighborhood-based methods, this will help us determine whether or not we should perform user-user or item-item similarity

In [63]:
dataset = data.build_full_trainset()
print('Number of users: ', dataset.n_users, '\n')
print('Number of items: ', dataset.n_items)

Number of users:  610

Number of items:  9724

## Determine the best model 

Now, compare the different models and see which ones perform best. For consistency sake, use RMSE to evaluate models. Remember to cross-validate! Can you get a model with a higher average RMSE on test data than 0.869?

In [64]:
# importing relevant libraries
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV
import numpy as np

In [65]:
## Perform a gridsearch with SVD
# ‚è∞ This cell may take several minutes to run

param_grid = {'n_factors': [20,50,100],
             'reg_all': [.02, .05, .1]}

grid_search = GridSearchCV(SVD, param_grid=param_grid, n_jobs=-1)
grid_search.fit(data)

In [66]:
# print out optimal parameters for SVD after GridSearch
print(grid_search.best_score, '\n', grid_search.best_params)

{'rmse': 0.8693353588446341, 'mae': 0.667914959886682}
 {'rmse': {'n_factors': 100, 'reg_all': 0.05}, 'mae': {'n_factors': 20, 'reg_all': 0.02}}

In [67]:
# cross validating with KNNBasic
knn_basic = KNNBasic(sim_options={'name': 'pearson', 'user_based':True})
knn_basic_cv = cross_validate(knn_basic, data, n_jobs=-1)

In [68]:
# print out the average RMSE score for the test set
np.mean(knn_basic_cv['test_rmse'])

0.9737042548650992

In [69]:
# cross validating with KNNBaseline
knn_bline = KNNBaseline(sim_options={'name': 'pearson', 'user_based': True})
knn_bline_cv = cross_validate(knn_bline, data, n_jobs=-1)

In [70]:
# print out the average score for the test set
for item in knn_bline_cv.items():
    print(item)
print('---'*15)
np.mean(knn_bline_cv['test_rmse'])

('test_rmse', array([0.88454842, 0.87821745, 0.87632482, 0.87918613, 0.86925068]))
('test_mae', array([0.67434523, 0.67142083, 0.66655495, 0.67153701, 0.66751265]))
('fit_time', (0.47597336769104004, 0.42877984046936035, 0.4371473789215088, 0.4079427719116211, 0.4031546115875244))
('test_time', (1.6706717014312744, 1.5947833061218262, 1.5694246292114258, 1.592513084411621, 1.6145267486572266))
---------------------------------------------

0.8775054982897068

Based off these outputs, it seems like the best performing model is the SVD model with `n_factors = 50` and a regularization rate of 0.05. Use that model or if you found one that performs better, feel free to use that to make some predictions.

## Making Recommendations

It's important that the output for the recommendation is interpretable to people. Rather than returning the `movie_id` values, it would be far more valuable to return the actual title of the movie. As a first step, let's read in the movies to a dataframe and take a peek at what information we have about them.

In [71]:
df_movies = pd.read_csv('./ml-latest-small/movies.csv')

In [72]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Making simple predictions
Just as a reminder, let's look at how you make a prediction for an individual user and item. First, we'll fit the SVD model we had from before.

In [73]:
knn_basic = KNNBasic(sim_options={'name': 'pearson', 'user_based':True})
knn_basic.fit(dataset)

Computing the pearson similarity matrix...
Done computing similarity matrix.

In [74]:
knn_basic.predict(2, 4)

Prediction(uid=2, iid=4, r_ui=None, est=1.4999999999999998, details={'actual_k': 1, 'was_impossible': False})

This prediction value is a tuple and each of the values within it can be accessed by way of indexing. Now let's put our knowledge of recommendation systems to do something interesting: making predictions for a new user!

## Obtaining User Ratings 

It's great that we have working models and everything, but wouldn't it be nice to get to recommendations specifically tailored to your preferences? That's what we'll be doing now. The first step is to create a function that allows us to pick randomly selected movies. The function should present users with a movie and ask them to rate it. If they have not seen the movie, they should be able to skip rating it. 

The function `movie_rater()` should take as parameters: 

* `movie_df`: DataFrame - a dataframe containing the movie ids, name of movie, and genres
* `num`: int - number of ratings
* `genre`: string - a specific genre from which to draw movies

The function returns:
* rating_list : list - a collection of dictionaries in the format of {'userId': int , 'movieId': int , 'rating': float}

#### This function is optional, but fun :)

In [82]:
def movie_rater(movie_df,num, genre=None):
    userId = 1000
    rating_list = []
    while num > 0:
        if genre:
            movie = movie_df[movie_df.genres.str.contains(genre)].sample(1)
        else:
            movie = movie_df.sample(1)
        print(movie)
        rating = input("Please rate between 1-5. Type 'n' if you've never seen it: \n")
        if rating.lower() == 'n':
            continue
        else:
            rating_one = {'userId': userId, 'movieId': movie['movieId'].values[0], 'rating':rating}
            rating_list.append(rating_one)
            num -=1
    return rating_list

In [83]:
# try out the new function here!
user_rating = movie_rater(df_movies, 4, 'Musical')

      movieId                title                         genres
7336    77931  Stingray Sam (2009)  Comedy|Musical|Sci-Fi|Western
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId                                title                   genres
5206     8487  Please Don't Eat the Daisies (1960)  Children|Comedy|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId                                              title  \
5659    27563  Happiness of the Katakuris, The (Katakuri-ke n...

                     genres
5659  Comedy|Horror|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId                title          genres
7786    91873  Joyful Noise (2012)  Comedy|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId                    title                             genres
1564     2102  Steamboat Willie (1928)  Animation|Children|Comedy|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId                                           title  \
3592     4926  Everybody's Famous! (Iedereen beroemd!) (2000)

                    genres
3592  Comedy|Drama|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
n
     movieId                   title                  genres
821     1081  Victor/Victoria (1982)  Comedy|Musical|Romance
Please rate between 1-5. Type 'n' if you've never seen it:
5
      movieId                                title                   genres
5206     8487  Please Don't Eat the Daisies (1960)  Children|Comedy|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId                       title                 genres
1318     1772  Blues Brothers 2000 (1998)  Action|Comedy|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId                  title                            genres
5236     8580  Into the Woods (1991)  Adventure|Comedy|Fantasy|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
5
      movieId                       title                    genres
2150     2863  Hard Day's Night, A (1964)  Adventure|Comedy|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId                title                genres
1415     1937  Going My Way (1944)  Comedy|Drama|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId                title                     genres
7915    95307  Rock of Ages (2012)  Comedy|Drama|Musical|IMAX
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId                    title         genres
2559     3425  Mo' Better Blues (1990)  Drama|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId                  title   genres
4369     6390  Silk Stockings (1957)  Musical
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId                         title                  genres
4789     7132  Night at the Opera, A (1935)  Comedy|Musical|Romance
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId             title                genres
6482    52975  Hairspray (2007)  Comedy|Drama|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
4
      movieId                           title                      genres
6804    60803  Little Drummer Boy, The (1968)  Animation|Children|Musical
Please rate between 1-5. Type 'n' if you've never seen it:
n
      movieId             title                   genres
4973     7614  Oklahoma! (1955)  Musical|Romance|Western
Please rate between 1-5. Type 'n' if you've never seen it:
5

If you're struggling to come up with the above function, you can use this list of user ratings to complete the next segment

In [84]:
user_rating

[{'userId': 1000, 'movieId': 1081, 'rating': '5'},
 {'userId': 1000, 'movieId': 8580, 'rating': '5'},
 {'userId': 1000, 'movieId': 52975, 'rating': '4'},
 {'userId': 1000, 'movieId': 7614, 'rating': '5'}]

### Making Predictions With the New Ratings
Now that you have new ratings, you can use them to make predictions for this new user. The proper way this should work is:

* add the new ratings to the original ratings DataFrame, read into a `surprise` dataset 
* train a model using the new combined DataFrame
* make predictions for the user
* order those predictions from highest rated to lowest rated
* return the top n recommendations with the text of the actual movie (rather than just the index number)

In [85]:
new_df

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [89]:
## add the new ratings to the original ratings DataFrame
new_ratings_df = new_df.append(user_rating, ignore_index=True)
new_data = Dataset.load_from_df(new_ratings_df, reader)

In [91]:
# train a model using the new combined DataFrame
knn_basic_new = KNNBasic(sim_options={'name': 'pearson', 'user_based':True})
knn_basic_new.fit(new_data.build_full_trainset())

Computing the pearson similarity matrix...
Done computing similarity matrix.

In [95]:
# make predictions for the user
# you'll probably want to create a list of tuples in the format (movie_id, predicted_score)
lst_movies = [(m_id, knn_basic_new.predict(1000, m_id)[3]) for m_id in new_df['movieId'].unique()]

In [97]:
# order the predictions from highest to lowest rated

ranked_movies = sorted(lst_movies, key=lambda x:x[1])
ranked_movies

[(216, 1),
 (367, 1),
 (2450, 1),
 (2657, 1),
 (2826, 1),
 (344, 1),
 (160, 1),
 (2717, 1),
 (2072, 1),
 (1544, 1),
 (2411, 1),
 (2953, 1),
 (420, 1),
 (3040, 1),
 (3988, 1),
 (38, 1),
 (4040, 1),
 (122, 1),
 (1488, 1),
 (1976, 1),
 (2796, 1),
 (2906, 1),
 (4293, 1),
 (4396, 1),
 (4477, 1),
 (4686, 1),
 (2431, 1),
 (4215, 1),
 (2471, 1),
 (2122, 1),
 (5246, 1),
 (5247, 1),
 (4676, 1),
 (5248, 1),
 (2517, 1),
 (5428, 1),
 (1526, 1),
 (1996, 1),
 (4138, 1),
 (6315, 1),
 (4129, 1),
 (4204, 1),
 (4635, 1),
 (5771, 1),
 (5863, 1),
 (673, 1.5),
 (5, 1.5),
 (195, 1.5),
 (207, 1.5),
 (1917, 1.5),
 (3798, 1.5),
 (2412, 1.5),
 (2416, 1.5),
 (2423, 1.5),
 (2642, 1.5),
 (2719, 1.5),
 (3087, 1.5),
 (3394, 1.5),
 (3835, 1.5),
 (2021, 1.5),
 (4509, 1.5),
 (1642, 1.5),
 (2265, 1.5),
 (932, 1.5),
 (1515, 1.5),
 (4677, 1.5),
 (2103, 1.5),
 (4130, 1.5),
 (4799, 1.5),
 (2050, 1.5),
 (1389, 1.5),
 (3525, 1.5),
 (7026, 1.5),
 (1977, 1.5),
 (4081, 1.5),
 (6116, 1.5),
 (4526, 1.5),
 (3715, 1.5),
 (5213, 1.5),
 (5455, 1.5),
 (5694, 1.5),
 (26791, 1.5),
 (596, 2.0),
 (736, 2.0),
 (1030, 2.0),
 (1032, 2.0),
 (1226, 2.0),
 (1377, 2.0),
 (1676, 2.0),
 (2115, 2.0),
 (2116, 2.0),
 (2141, 2.0),
 (2143, 2.0),
 (2470, 2.0),
 (2616, 2.0),
 (3247, 2.0),
 (3479, 2.0),
 (3527, 2.0),
 (3671, 2.0),
 (3702, 2.0),
 (1371, 2.0),
 (3210, 2.0),
 (351, 2.0),
 (920, 2.0),
 (1183, 2.0),
 (4166, 2.0),
 (266, 2.0),
 (27, 2.0),
 (100, 2.0),
 (104, 2.0),
 (252, 2.0),
 (277, 2.0),
 (317, 2.0),
 (466, 2.0),
 (490, 2.0),
 (491, 2.0),
 (516, 2.0),
 (520, 2.0),
 (802, 2.0),
 (830, 2.0),
 (852, 2.0),
 (4223, 2.0),
 (586, 2.0),
 (2011, 2.0),
 (4131, 2.0),
 (4558, 2.0),
 (5481, 2.0),
 (6535, 2.0),
 (376, 2.0),
 (1586, 2.0),
 (1882, 2.0),
 (2421, 2.0),
 (3263, 2.0),
 (2410, 2.0),
 (2422, 2.0),
 (3081, 2.0),
 (832, 2.0),
 (1297, 2.0),
 (1367, 2.0),
 (1379, 2.0),
 (1474, 2.0),
 (1645, 2.0),
 (2123, 2.0),
 (2167, 2.0),
 (2249, 2.0),
 (2261, 2.0),
 (2302, 2.0),
 (2335, 2.0),
 (2463, 2.0),
 (2468, 2.0),
 (2491, 2.0),
 (2558, 2.0),
 (2746, 2.0),
 (2915, 2.0),
 (3269, 2.0),
 (3393, 2.0),
 (3421, 2.0),
 (1018, 2.0),
 (2059, 2.0),
 (4025, 2.0),
 (4638, 2.0),
 (2378, 2.0),
 (4085, 2.0),
 (4489, 2.0),
 (4545, 2.0),
 (4621, 2.0),
 (1274, 2.0),
 (1711, 2.0),
 (1083, 2.0),
 (3178, 2.0),
 (1792, 2.0),
 (2112, 2.0),
 (1667, 2.0),
 (1975, 2.0),
 (2352, 2.0),
 (2433, 2.0),
 (2598, 2.0),
 (2795, 2.0),
 (2827, 2.0),
 (3552, 2.0),
 (4084, 2.0),
 (4487, 2.0),
 (4564, 2.0),
 (4623, 2.0),
 (3385, 2.0),
 (4929, 2.0),
 (5308, 2.0),
 (5589, 2.0),
 (2121, 2.0),
 (2379, 2.0),
 (2752, 2.0),
 (1416, 2.0),
 (4105, 2.0),
 (6944, 2.0),
 (5548, 2.0),
 (6124, 2.0),
 (6313, 2.0),
 (1381, 2.0),
 (5541, 2.0),
 (8910, 2.0),
 (1091, 2.0),
 (1135, 2.0),
 (901, 2.0),
 (4214, 2.0),
 (2262, 2.0),
 (4873, 2.0),
 (4476, 2.0),
 (6433, 2.0),
 (5303, 2.0),
 (1735, 2.0),
 (4063, 2.0),
 (4812, 2.0),
 (2247, 2.0),
 (3028, 2.0),
 (7107, 2.0),
 (2126, 2.0),
 (3877, 2.0),
 (4723, 2.0),
 (2457, 2.0),
 (1767, 2.0),
 (4808, 2.0),
 (4608, 2.0),
 (3528, 2.0),
 (1007, 2.0),
 (2786, 2.0),
 (3524, 2.0),
 (1327, 2.0),
 (7646, 2.0),
 (1983, 2.0),
 (1984, 2.0),
 (1995, 2.0),
 (2095, 2.0),
 (1323, 2.0),
 (2506, 2.0),
 (2787, 2.0),
 (4127, 2.0),
 (5033, 2.0),
 (5226, 2.0),
 (3206, 2.0),
 (4012, 2.0),
 (4221, 2.0),
 (4462, 2.0),
 (6039, 2.0),
 (6308, 2.0),
 (1629, 2.0),
 (3281, 2.0),
 (4296, 2.0),
 (4860, 2.0),
 (5581, 2.0),
 (5629, 2.0),
 (5755, 2.0),
 (5836, 2.0),
 (6407, 2.0),
 (6788, 2.0),
 (31083, 2.0),
 (500, 2.5),
 (1256, 2.5),
 (1348, 2.5),
 (2150, 2.5),
 (11, 2.5),
 (62, 2.5),
 (140, 2.5),
 (236, 2.5),
 (273, 2.5),
 (381, 2.5),
 (524, 2.5),
 (4874, 2.5),
 (6534, 2.5),
 (6934, 2.5),
 (46530, 2.5),
 (5451, 2.5),
 (2572, 2.5),
 (3108, 2.5),
 (6373, 2.5),
 (7018, 2.5),
 (2016, 2.5),
 (2088, 2.5),
 (2374, 2.5),
 (2418, 2.5),
 (2822, 2.5),
 (3104, 2.5),
 (3219, 2.5),
 (3258, 2.5),
 (3418, 2.5),
 (3712, 2.5),
 (3755, 2.5),
 (5299, 2.5),
 (1237, 2.5),
 (3836, 2.5),
 (3543, 2.5),
 (1363, 2.5),
 (1027, 2.5),
 (2443, 2.5),
 (2794, 2.5),
 (3270, 2.5),
 (6662, 2.5),
 (82, 2.5),
 (1810, 2.5),
 (3259, 2.5),
 (3502, 2.5),
 (4679, 2.5),
 (3844, 2.5),
 (5021, 2.5),
 (1096, 2.5),
 (2312, 2.5),
 (2803, 2.5),
 (4326, 2.5),
 (4639, 2.5),
 (8154, 2.5),
 (4316, 2.5),
 (6744, 2.5),
 (8266, 2.5),
 (3071, 2.5),
 (5792, 2.5),
 (938, 2.5),
 (8796, 2.5),
 (935, 2.5),
 (4024, 2.5),
 (5316, 2.5),
 (3099, 2.5),
 (3503, 2.5),
 (7078, 2.5),
 (8695, 2.5),
 (4305, 2.5),
 (3469, 2.5),
 (40946, 2.5),
 (6370, 2.5),
 (3971, 2.5),
 (4709, 2.5),
 (6999, 2.5),
 (7305, 2.5),
 (3420, 2.5),
 (5951, 2.5),
 (6063, 2.5),
 (4600, 2.5),
 (6162, 2.5),
 (6547, 2.5),
 (2520, 2.5),
 (1398, 2.5),
 (3714, 2.5),
 (4189, 2.5),
 (5007, 2.5),
 (5801, 2.5),
 (5875, 2.5),
 (6376, 2.5),
 (6603, 2.5),
 (6614, 2.5),
 (6732, 2.5),
 (7073, 2.5),
 (7079, 2.5),
 (7223, 2.5),
 (7414, 2.5),
 (8153, 2.5),
 (8375, 2.5),
 (8382, 2.5),
 (8446, 2.5),
 (8714, 2.5),
 (8943, 2.5),
 (6, 3.0),
 (110, 3.0),
 (349, 3.0),
 (356, 3.0),
 (552, 3.0),
 (1023, 3.0),
 (1025, 3.0),
 (1029, 3.0),
 (1080, 3.0),
 (1220, 3.0),
 (1265, 3.0),
 (1282, 3.0),
 (1967, 3.0),
 (2005, 3.0),
 (2012, 3.0),
 (2018, 3.0),
 (2028, 3.0),
 (2090, 3.0),
 (2094, 3.0),
 (2099, 3.0),
 (2137, 3.0),
 (2174, 3.0),
 (2253, 3.0),
 (2395, 3.0),
 (2406, 3.0),
 (2478, 3.0),
 (2947, 3.0),
 (3033, 3.0),
 (3034, 3.0),
 (3441, 3.0),
 (3448, 3.0),
 (3578, 3.0),
 (3809, 3.0),
 (5060, 3.0),
 (31, 3.0),
 (647, 3.0),
 (1093, 3.0),
 (1263, 3.0),
 (357, 3.0),
 (599, 3.0),
 (892, 3.0),
 (1199, 3.0),
 (1211, 3.0),
 (1597, 3.0),
 (1923, 3.0),
 (2683, 3.0),
 (3079, 3.0),
 (3508, 3.0),
 (3591, 3.0),
 (3788, 3.0),
 (4002, 3.0),
 (4014, 3.0),
 (4020, 3.0),
 (4033, 3.0),
 (4121, 3.0),
 (4144, 3.0),
 (153, 3.0),
 (594, 3.0),
 (2, 3.0),
 (7, 3.0),
 (22, 3.0),
 (24, 3.0),
 (46, 3.0),
 (185, 3.0),
 (257, 3.0),
 (282, 3.0),
 (350, 3.0),
 (371, 3.0),
 (508, 3.0),
 (587, 3.0),
 (628, 3.0),
 (818, 3.0),
 (838, 3.0),
 (991, 3.0),
 (3977, 3.0),
 (4886, 3.0),
 (5218, 3.0),
 (5378, 3.0),
 (5464, 3.0),
 (6365, 3.0),
 (7143, 3.0),
 (45730, 3.0),
 (48783, 3.0),
 (1028, 3.0),
 (7151, 3.0),
 (8969, 3.0),
 (1608, 3.0),
 (3513, 3.0),
 (3863, 3.0),
 (3893, 3.0),
 (541, 3.0),
 (1147, 3.0),
 (2707, 3.0),
 (1036, 3.0),
 (1228, 3.0),
 (1245, 3.0),
 (2409, 3.0),
 (2951, 3.0),
 (5608, 3.0),
 (7147, 3.0),
 (107, 3.0),
 (338, 3.0),
 (551, 3.0),
 (921, 3.0),
 (1016, 3.0),
 (1257, 3.0),
 (1378, 3.0),
 (1441, 3.0),
 (1485, 3.0),
 (1588, 3.0),
 (1593, 3.0),
 (1663, 3.0),
 (1779, 3.0),
 (2111, 3.0),
 (2133, 3.0),
 (2134, 3.0),
 (2144, 3.0),
 (2245, 3.0),
 (2321, 3.0),
 (2369, 3.0),
 (2375, 3.0),
 (2407, 3.0),
 (2455, 3.0),
 (2496, 3.0),
 (2539, 3.0),
 (2622, 3.0),
 (2870, 3.0),
 (3035, 3.0),
 (3203, 3.0),
 (3254, 3.0),
 (3361, 3.0),
 (3396, 3.0),
 (3466, 3.0),
 (3497, 3.0),
 (3686, 3.0),
 (3745, 3.0),
 (3770, 3.0),
 (1010, 3.0),
 (1013, 3.0),
 (2083, 3.0),
 (2087, 3.0),
 (4016, 3.0),
 (4039, 3.0),
 (4299, 3.0),
 (4366, 3.0),
 (4378, 3.0),
 (5504, 3.0),
 (6157, 3.0),
 (3868, 3.0),
 (4017, 3.0),
 (4036, 3.0),
 (2686, 3.0),
 (2405, 3.0),
 (3791, 3.0),
 (1271, 3.0),
 (3100, 3.0),
 (3252, 3.0),
 (3256, 3.0),
 (3271, 3.0),
 (6957, 3.0),
 (6974, 3.0),
 (8493, 3.0),
 (39381, 3.0),
 (48326, 3.0),
 (3363, 3.0),
 (605, 3.0),
 (74, 3.0),
 (471, 3.0),
 (446, 3.0),
 (805, 3.0),
 (1643, 3.0),
 (2875, 3.0),
 (3066, 3.0),
 (585, 3.0),
 (1513, 3.0),
 (2146, 3.0),
 (3987, 3.0),
 (4041, 3.0),
 (4132, 3.0),
 (4321, 3.0),
 (4322, 3.0),
 (57, 3.0),
 (934, 3.0),
 (2106, 3.0),
 (2124, 3.0),
 (3249, 3.0),
 (2942, 3.0),
 (4975, 3.0),
 (8879, 3.0),
 (26422, 3.0),
 (2615, 3.0),
 (2634, 3.0),
 (3148, 3.0),
 (3959, 3.0),
 (4291, 3.0),
 (4464, 3.0),
 (6323, 3.0),
 (6873, 3.0),
 (7004, 3.0),
 (7757, 3.0),
 (26680, 3.0),
 (1125, 3.0),
 (2009, 3.0),
 (2289, 3.0),
 (3045, 3.0),
 (3334, 3.0),
 (280, 3.0),
 (1944, 3.0),
 (3088, 3.0),
 (30810, 3.0),
 (4128, 3.0),
 (1956, 3.0),
 (4499, 3.0),
 (4616, 3.0),
 (7015, 3.0),
 (2125, 3.0),
 (2567, 3.0),
 (4068, 3.0),
 (4356, 3.0),
 (4372, 3.0),
 (5444, 3.0),
 (6755, 3.0),
 (47970, 3.0),
 (1172, 3.0),
 (6244, 3.0),
 (27721, 3.0),
 (50274, 3.0),
 (2792, 3.0),
 (2384, 3.0),
 (14, 3.0),
 (1290, 3.0),
 (3061, 3.0),
 (1974, 3.0),
 (4304, 3.0),
 (4587, 3.0),
 (4126, 3.0),
 (1958, 3.0),
 (5380, 3.0),
 (4912, 3.0),
 (6777, 3.0),
 (7347, 3.0),
 (9010, 3.0),
 (27803, 3.0),
 (4976, 3.0),
 (5391, 3.0),
 (2844, 3.0),
 (5970, 3.0),
 (5992, 3.0),
 (4467, 3.0),
 (5177, 3.0),
 (7171, 3.0),
 (3093, 3.0),
 (3873, 3.0),
 (4035, 3.0),
 (4795, 3.0),
 (5899, 3.0),
 (8121, 3.0),
 (2970, 3.0),
 (3076, 3.0),
 (3134, 3.0),
 (8614, 3.0),
 (4055, 3.0),
 (5993, 3.0),
 (4951, 3.0),
 (6252, 3.0),
 (1936, 3.0),
 (2847, 3.0),
 (25856, 3.0),
 (1941, 3.0),
 (4644, 3.0),
 (4815, 3.0),
 (4888, 3.0),
 (6062, 3.0),
 (6335, 3.0),
 (952, 3.0),
 (5214, 3.0),
 (27912, 3.0),
 (1755, 3.0),
 (2670, 3.0),
 (5670, 3.0),
 (7810, 3.0),
 (2473, 3.0),
 (2469, 3.0),
 (27768, 3.0),
 (32022, 3.0),
 (2205, 3.0),
 (3929, 3.0),
 (2178, 3.0),
 (556, 3.0),
 (2212, 3.0),
 (5147, 3.0),
 (43460, 3.0),
 (2736, 3.0),
 (6850, 3.0),
 (48142, 3.0),
 (6869, 3.0),
 (5707, 3.0),
 (7102, 3.0),
 (4478, 3.0),
 (5073, 3.0),
 (5297, 3.0),
 (5437, 3.0),
 (5625, 3.0),
 (7340, 3.0),
 (8119, 3.0),
 (45635, 3.0),
 (49957, 3.0),
 (4802, 3.0),
 (6760, 3.0),
 (488, 3.0),
 (638, 3.0),
 (907, 3.0),
 (976, 3.0),
 (982, 3.0),
 (993, 3.0),
 (1926, 3.0),
 (1933, 3.0),
 (2177, 3.0),
 (2179, 3.0),
 (2201, 3.0),
 (2211, 3.0),
 (2611, 3.0),
 (2652, 3.0),
 (2743, 3.0),
 (3109, 3.0),
 (3112, 3.0),
 (3870, 3.0),
 (4521, 3.0),
 (4589, 3.0),
 (4704, 3.0),
 (4769, 3.0),
 (5077, 3.0),
 (5168, 3.0),
 (5311, 3.0),
 (5353, 3.0),
 (5375, 3.0),
 (5384, 3.0),
 (5440, 3.0),
 (5512, 3.0),
 (5649, 3.0),
 (6042, 3.0),
 (6225, 3.0),
 (6336, 3.0),
 (6357, 3.0),
 (6382, 3.0),
 (6434, 3.0),
 (6477, 3.0),
 (6527, 3.0),
 (6581, 3.0),
 (6584, 3.0),
 (6772, 3.0),
 (6837, 3.0),
 (7012, 3.0),
 (7049, 3.0),
 (7051, 3.0),
 (7052, 3.0),
 (7083, 3.0),
 (7167, 3.0),
 (7727, 3.0),
 (7822, 3.0),
 (7840, 3.0),
 (7882, 3.0),
 (7900, 3.0),
 (7944, 3.0),
 (8057, 3.0),
 (8385, 3.0),
 (8450, 3.0),
 (8462, 3.0),
 (8481, 3.0),
 (8487, 3.0),
 (8502, 3.0),
 (8575, 3.0),
 (8617, 3.0),
 (8711, 3.0),
 (8712, 3.0),
 (8771, 3.0),
 (8773, 3.0),
 (8955, 3.0),
 (8987, 3.0),
 (25927, 3.0),
 (25962, 3.0),
 (26965, 3.0),
 (49666, 3.0),
 (101, 3.5),
 (223, 3.5),
 (316, 3.5),
 (590, 3.5),
 (648, 3.5),
 (940, 3.5),
 (943, 3.5),
 (1073, 3.5),
 (1090, 3.5),
 (1206, 3.5),
 (1208, 3.5),
 (1213, 3.5),
 (1517, 3.5),
 (1552, 3.5),
 (1732, 3.5),
 (1927, 3.5),
 (2193, 3.5),
 (2353, 3.5),
 (2644, 3.5),
 (2648, 3.5),
 (2858, 3.5),
 (2944, 3.5),
 (2997, 3.5),
 (3168, 3.5),
 (3253, 3.5),
 (1704, 3.5),
 (8798, 3.5),
 (1302, 3.5),
 (6238, 3.5),
 (58, 3.5),
 (162, 3.5),
 (215, 3.5),
 (342, 3.5),
 (345, 3.5),
 (538, 3.5),
 (902, 3.5),
 (908, 3.5),
 (1077, 3.5),
 (1084, 3.5),
 (1179, 3.5),
 (1283, 3.5),
 (1304, 3.5),
 (1641, 3.5),
 (1907, 3.5),
 (1914, 3.5),
 (1968, 3.5),
 (2204, 3.5),
 (2390, 3.5),
 (2467, 3.5),
 (2770, 3.5),
 (2973, 3.5),
 (3083, 3.5),
 (3255, 3.5),
 (3365, 3.5),
 (4308, 3.5),
 (4967, 3.5),
 (39, 3.5),
 (474, 3.5),
 (25, 3.5),
 (26, 3.5),
 (41, 3.5),
 (43, 3.5),
 (92, 3.5),
 (161, 3.5),
 (224, 3.5),
 (230, 3.5),
 (237, 3.5),
 (293, 3.5),
 (339, 3.5),
 (361, 3.5),
 (477, 3.5),
 (616, 3.5),
 (1006, 3.5),
 (1082, 3.5),
 (1101, 3.5),
 (1584, 3.5),
 (1784, 3.5),
 (2671, 3.5),
 (4700, 3.5),
 (4995, 3.5),
 (6539, 3.5),
 (6863, 3.5),
 (8665, 3.5),
 (8783, 3.5),
 (8865, 3.5),
 (27741, 3.5),
 (33794, 3.5),
 (34048, 3.5),
 (45517, 3.5),
 (5902, 3.5),
 (5956, 3.5),
 (1088, 3.5),
 (6942, 3.5),
 (7293, 3.5),
 (40629, 3.5),
 (41285, 3.5),
 (1693, 3.5),
 (1357, 3.5),
 (1876, 3.5),
 (3668, 3.5),
 (1639, 3.5),
 (3624, 3.5),
 (3952, 3.5),
 (1200, 3.5),
 (2081, 3.5),
 (3499, 3.5),
 (3510, 3.5),
 (4022, 3.5),
 (4720, 3.5),
 (1193, 3.5),
 (1201, 3.5),
 (1276, 3.5),
 (1299, 3.5),
 (3022, 3.5),
 (3429, 3.5),
 (3683, 3.5),
 (7099, 3.5),
 (48394, 3.5),
 (1209, 3.5),
 (1375, 3.5),
 (3681, 3.5),
 (6870, 3.5),
 (2184, 3.5),
 (3751, 3.5),
 (4262, 3.5),
 (4327, 3.5),
 (5418, 3.5),
 (5944, 3.5),
 (6378, 3.5),
 (6440, 3.5),
 (6807, 3.5),
 (7753, 3.5),
 (44199, 3.5),
 (44555, 3.5),
 (45722, 3.5),
 (46578, 3.5),
 (513, 3.5),
 (671, 3.5),
 (911, 3.5),
 (931, 3.5),
 (933, 3.5),
 (1269, 3.5),
 (1345, 3.5),
 (1688, 3.5),
 (1754, 3.5),
 (2003, 3.5),
 (2097, 3.5),
 (2110, 3.5),
 (2227, 3.5),
 (2294, 3.5),
 (2393, 3.5),
 (2788, 3.5),
 (2936, 3.5),
 (3264, 3.5),
 (3471, 3.5),
 (3708, 3.5),
 (2089, 3.5),
 (3852, 3.5),
 (3948, 3.5),
 (4776, 3.5),
 (4848, 3.5),
 (5013, 3.5),
 (5293, 3.5),
 (5630, 3.5),
 (5693, 3.5),
 (6156, 3.5),
 (6170, 3.5),
 (6297, 3.5),
 (4903, 3.5),
 (6711, 3.5),
 (31410, 3.5),
 (29, 3.5),
 (272, 3.5),
 (1233, 3.5),
 (1248, 3.5),
 (1249, 3.5),
 (1284, 3.5),
 (2912, 3.5),
 (6773, 3.5),
 (7069, 3.5),
 (35836, 3.5),
 (47610, 3.5),
 (421, 3.5),
 (1678, 3.5),
 (2908, 3.5),
 (3105, 3.5),
 (3198, 3.5),
 (3272, 3.5),
 (3360, 3.5),
 (3950, 3.5),
 (5329, 3.5),
 (5945, 3.5),
 (5955, 3.5),
 (6281, 3.5),
 (6565, 3.5),
 (6947, 3.5),
 (6953, 3.5),
 (7009, 3.5),
 (27408, 3.5),
 (36527, 3.5),
 (40278, 3.5),
 (40414, 3.5),
 (40583, 3.5),
 (41863, 3.5),
 (44204, 3.5),
 (44761, 3.5),
 (46723, 3.5),
 (47894, 3.5),
 (48385, 3.5),
 (50068, 3.5),
 (53123, 3.5),
 (53953, 3.5),
 (56607, 3.5),
 (953, 3.5),
 (1939, 3.5),
 (1099, 3.5),
 (994, 3.5),
 (1399, 3.5),
 (1673, 3.5),
 (2333, 3.5),
 (2501, 3.5),
 (2943, 3.5),
 (6242, 3.5),
 (3362, 3.5),
 (306, 3.5),
 (4890, 3.5),
 (6708, 3.5),
 (2236, 3.5),
 (2890, 3.5),
 (3098, 3.5),
 (3186, 3.5),
 (3261, 3.5),
 (4008, 3.5),
 (4067, 3.5),
 (1934, 3.5),
 (3196, 3.5),
 (2553, 3.5),
 (4914, 3.5),
 (5810, 3.5),
 (33781, 3.5),
 (522, 3.5),
 (1244, 3.5),
 (1301, 3.5),
 (1873, 3.5),
 (2183, 3.5),
 (2554, 3.5),
 (4508, 3.5),
 (8623, 3.5),
 (45666, 3.5),
 (748, 3.5),
 (1982, 3.5),
 (728, 3.5),
 (2067, 3.5),
 (3230, 3.5),
 (27706, 3.5),
 (7132, 3.5),
 (7980, 3.5),
 (27846, 3.5),
 (27904, 3.5),
 ...]

 For the final component of this challenge, it could be useful to create a function `recommended_movies()` that takes in the parameters:
* `user_ratings`: list - list of tuples formulated as (user_id, movie_id) (should be in order of best to worst for this individual)
* `movie_title_df`: DataFrame 
* `n`: int - number of recommended movies 

The function should use a `for` loop to print out each recommended *n* movies in order from best to worst

In [98]:
# return the top n recommendations using the 
def recommended_movies(user_ratings,movie_title_df,n):
    for i, mov_num in enumerate(user_ratings):
        title = movie_title_df.loc[movie_title_df['movieId'] == int(mov_num[0])]['title']
        print(f'Recommendation # {i + 1}: {title} \n')
        n -= 1
        if n == 0:
            break
            
            
recommended_movies(ranked_movies,df_movies,5)

Recommendation # 1: 184    Billy Madison (1995)
Name: title, dtype: object

Recommendation # 2: 325    Mask, The (1994)
Name: title, dtype: object

Recommendation # 3: 1842    Howard the Duck (1986)
Name: title, dtype: object

Recommendation # 4: 1997    Rocky Horror Picture Show, The (1975)
Name: title, dtype: object

Recommendation # 5: 2126    13th Warrior, The (1999)
Name: title, dtype: object

## Level Up (Optional)

* Try and chain all of the steps together into one function that asks users for ratings for a certain number of movies, then all of the above steps are performed to return the top $n$ recommendations
* Make a recommender system that only returns items that come from a specified genre

## Summary

In this lab, you got the chance to implement a collaborative filtering model as well as retrieve recommendations from that model. You also got the opportunity to add your own recommendations to the system to get new recommendations for yourself! Next, you will learn how to use Spark to make recommender systems.